$font-stack: Helvetica, sans-serif;

body {
	font-family: $font-stack;
}

.weather {
	// margin: auto;
	width: 200pt;
	font-size: 8pt;
}

.weatherGray {
	background: #E9E9E9
}

.weatherImg {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}

.weatherValPair {
	width: 100%;
}

.weatherValName {
	float: left;
	width: 120px;
}

.weatherVal {
	float: left;
}